<template>
    <div id="event"
    class="font-Montserrat flex justify-center items-center bg-[url('./assets/images/event/bg.png')] bg-cover bg-no-repeat bg-center w-full py-16 px-4">
    <div class="lg:max-w-[970px] lg:w-full lg:m-auto" id="fade-up-card" data-hs="fade up">
        <div class="flex flex-wrap">
            <div class="sm:w-6/12">
                <div class="text-white">
                    <h4 class="text-[#A8A8A8] font-bold text-xl mb-3">Event</h4>
                    <h1 class="font-bold text-3xl mb-5 leading-tight">Kolaborasi Event
                    </h1>
                    <p class="text-lg mt-5">Lorem Ipsum is simply dummy text of the printing and typesetting
                        industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when
                        an unknown printer took a galley of type and scrambled it to make a type specimen book</p>
                </div>
            </div>

            <div class="sm:w-6/12 mt-3">

                <Splide :options="event" aria-label="My Favorite Images">
                        <SplideSlide>
                            <img src="../assets/images/event/foto.png" alt="img"
                            class="max-w-[531px] w-full h-auto m-auto block rounded-2xl object-cover" width="531" height="330">
                        </SplideSlide>
                        <SplideSlide>
                            <img src="../assets/images/event/foto.png" alt="img"
                            class="max-w-[531px] w-full h-auto m-auto block rounded-2xl object-cover" width="531" height="330">
                        </SplideSlide>
                        <SplideSlide>
                            <img src="../assets/images/event/foto.png" alt="img"
                            class="max-w-[531px] w-full h-auto m-auto block rounded-2xl object-cover" width="531" height="330">
                        </SplideSlide>
                        <SplideSlide>
                            <img src="../assets/images/event/foto.png" alt="img"
                            class="max-w-[531px] w-full h-auto m-auto block rounded-2xl object-cover" width="531" height="330">
                        </SplideSlide>
                        <SplideSlide>
                            <img src="../assets/images/event/foto.png" alt="img"
                            class="max-w-[531px] w-full h-auto m-auto block rounded-2xl object-cover" width="531" height="330">
                        </SplideSlide>
                    </Splide>

            </div>
        </div>
    </div>
</div>
</template>

<script>
import '@splidejs/vue-splide/css';
import { Splide, SplideSlide } from '@splidejs/vue-splide';
import { defineComponent } from 'vue';

export default defineComponent( {
  components: {
    Splide,
    SplideSlide,
  },

  setup() {
    const event = {
      rewind: true,
      arrows:false,
      gap   : '1rem',
    };

    return { event };
  },
} );
</script>

<style>
    #event .splide__pagination {
        bottom: -1em;
        left: 0;
        padding: 0 1em;
        position: absolute;
        right: 0;
        z-index: 1
    }
    
    #event .splide__pagination__page {
        background: #D9D9D9;
        border: 0;
        border-radius: 50%;
        display: inline-block;
        height: 8px;
        margin: 3px;
        opacity: .7;
        padding: 0;
        transition: transform .2s linear;
        width: 8px
    }
    
    #event .splide__pagination__page.is-active {
        background: #FF2A1A;
        transform: scale(1.4)
    }
    </style>