<template>
    <div id="header"
    class="font-Montserrat flex justify-center items-center bg-[url('./assets/images/header/bg.png')] bg-cover bg-no-repeat bg-center w-full min-h-screen mt-10">
    <div class="lg:max-w-[970px] lg:w-full lg:m-auto">
        <div class="flex flex-wrap">
            <div
                class="lg:w-full xl:max-w-[550px] xl:ml-[500px] max-md:px-4 max-xl:m-auto max-xl:w-full max-xl:text-center">
                <div class="text-white max-md:text-center">
                    <h4 class="font-bold text-lg mb-5">Lorem Ipsum is simply dummy</h4>
                    <h1 class="font-bold text-[50px] mb-5 leading-tight">Influencer & KOL Management Platform
                    </h1>
                    <p class="text-lg my-5">Lorem Ipsum is simply dummy text of the printing and
                        typesetting industry.</p>
                </div>
                <a href="dashboard.php?dashboard=login">
                    <div
                        class="bg-[#E49C10] font-bold text-white w-52 rounded-[25px] mt-3 text-center text-lg p-3 max-xl:m-auto">
                        Login
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
</template>