<template>
    <div id="talent" class="font-Montserrat py-16 px-4">
        <div class="text-center">
            <h4 class="text-[#A8A8A8] font-bold text-2xl">KOL</h4>
            <h2 class="text-[#43239E] font-bold text-3xl mb-3">KOL Talent</h2>
        </div>
        <ul class="nav nav-pills pb-3 justify-center" id="pills-tab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="pills-makanan-tab" data-bs-toggle="pill" data-bs-target="#pills-makanan"
                    type="button" role="tab" aria-controls="pills-makanan" aria-selected="true">Makanan</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="pills-teknologi-tab" data-bs-toggle="pill" data-bs-target="#pills-teknologi"
                    type="button" role="tab" aria-controls="pills-teknologi" aria-selected="false">Teknologi</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="pills-hiburan-tab" data-bs-toggle="pill" data-bs-target="#pills-hiburan"
                    type="button" role="tab" aria-controls="pills-hiburan" aria-selected="false">Hiburan</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="pills-travel-tab" data-bs-toggle="pill" data-bs-target="#pills-travel"
                    type="button" role="tab" aria-controls="pills-travel" aria-selected="false">Travel</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="pills-sport-tab" data-bs-toggle="pill" data-bs-target="#pills-sport"
                    type="button" role="tab" aria-controls="pills-sport" aria-selected="false">Sport</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="pills-gaming-tab" data-bs-toggle="pill" data-bs-target="#pills-gaming"
                    type="button" role="tab" aria-controls="pills-gaming" aria-selected="false">Gaming</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="pills-fashion-tab" data-bs-toggle="pill" data-bs-target="#pills-fashion"
                    type="button" role="tab" aria-controls="pills-fashion" aria-selected="false">Fashion</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="pills-youtuber-tab" data-bs-toggle="pill" data-bs-target="#pills-youtuber"
                    type="button" role="tab" aria-controls="pills-youtuber" aria-selected="false">Youtuber</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="pills-tiktok-tab" data-bs-toggle="pill" data-bs-target="#pills-tiktok"
                    type="button" role="tab" aria-controls="pills-tiktok" aria-selected="false">Tiktok</button>
            </li>
        </ul>
    
        <div class="lg:max-w-[970px] lg:w-full lg:m-auto" id="fade-up-card" data-hs="fade up">
            <div class="tab-content" id="pills-tabContent">
    
                <div class="tab-pane fade show active" id="pills-makanan" role="tabpanel"
                    aria-labelledby="pills-makanan-tab" tabindex="0">
    
                    <Splide :options="makanan" aria-label="My Favorite Images">
                        <SplideSlide>
                            <img src="../assets/images/talent/talent.png" alt="img"
                                class="max-w-[250px] w-full h-[450px] m-auto block rounded-2xl drop-shadow-xl object-cover">                        
                        </SplideSlide>
                        <SplideSlide>
                            <img src="../assets/images/talent/talent.png" alt="img"
                                class="max-w-[250px] w-full h-[450px] m-auto block rounded-2xl drop-shadow-xl object-cover">                        
                        </SplideSlide>
                        <SplideSlide>
                            <img src="../assets/images/talent/talent.png" alt="img"
                                class="max-w-[250px] w-full h-[450px] m-auto block rounded-2xl drop-shadow-xl object-cover">                        
                        </SplideSlide>
                        <SplideSlide>
                            <img src="../assets/images/talent/talent.png" alt="img"
                                class="max-w-[250px] w-full h-[450px] m-auto block rounded-2xl drop-shadow-xl object-cover">                        
                        </SplideSlide>
                        <SplideSlide>
                            <img src="../assets/images/talent/talent.png" alt="img"
                                class="max-w-[250px] w-full h-[450px] m-auto block rounded-2xl drop-shadow-xl object-cover">                        
                        </SplideSlide>
                    </Splide>
    
                </div>
    
                <div class="tab-pane fade" id="pills-teknologi" role="tabpanel" aria-labelledby="pills-teknologi-tab"
                    tabindex="0">
    
                    <Splide :options="teknologi" aria-label="My Favorite Images">
                        <SplideSlide>
                            <img src="../assets/images/talent/talent.png" alt="img"
                                class="max-w-[250px] w-full h-[450px] m-auto block rounded-2xl drop-shadow-xl object-cover">                        
                        </SplideSlide>
                        <SplideSlide>
                            <img src="../assets/images/talent/talent.png" alt="img"
                                class="max-w-[250px] w-full h-[450px] m-auto block rounded-2xl drop-shadow-xl object-cover">                        
                        </SplideSlide>
                        <SplideSlide>
                            <img src="../assets/images/talent/talent.png" alt="img"
                                class="max-w-[250px] w-full h-[450px] m-auto block rounded-2xl drop-shadow-xl object-cover">                        
                        </SplideSlide>
                        <SplideSlide>
                            <img src="../assets/images/talent/talent.png" alt="img"
                                class="max-w-[250px] w-full h-[450px] m-auto block rounded-2xl drop-shadow-xl object-cover">                        
                        </SplideSlide>
                        <SplideSlide>
                            <img src="../assets/images/talent/talent.png" alt="img"
                                class="max-w-[250px] w-full h-[450px] m-auto block rounded-2xl drop-shadow-xl object-cover">                        
                        </SplideSlide>
                    </Splide>
    
                </div>
    
                <div class="tab-pane fade" id="pills-hiburan" role="tabpanel" aria-labelledby="pills-hiburan-tab"
                    tabindex="0">
    
                    <Splide :options="hiburan" aria-label="My Favorite Images">
                        <SplideSlide>
                            <img src="../assets/images/talent/talent.png" alt="img"
                                class="max-w-[250px] w-full h-[450px] m-auto block rounded-2xl drop-shadow-xl object-cover">                        
                        </SplideSlide>
                        <SplideSlide>
                            <img src="../assets/images/talent/talent.png" alt="img"
                                class="max-w-[250px] w-full h-[450px] m-auto block rounded-2xl drop-shadow-xl object-cover">                        
                        </SplideSlide>
                        <SplideSlide>
                            <img src="../assets/images/talent/talent.png" alt="img"
                                class="max-w-[250px] w-full h-[450px] m-auto block rounded-2xl drop-shadow-xl object-cover">                        
                        </SplideSlide>
                        <SplideSlide>
                            <img src="../assets/images/talent/talent.png" alt="img"
                                class="max-w-[250px] w-full h-[450px] m-auto block rounded-2xl drop-shadow-xl object-cover">                        
                        </SplideSlide>
                        <SplideSlide>
                            <img src="../assets/images/talent/talent.png" alt="img"
                                class="max-w-[250px] w-full h-[450px] m-auto block rounded-2xl drop-shadow-xl object-cover">                        
                        </SplideSlide>
                    </Splide>
    
                </div>
    
                <div class="tab-pane fade" id="pills-travel" role="tabpanel" aria-labelledby="pills-travel-tab"
                    tabindex="0">
    
                    <Splide :options="travel" aria-label="My Favorite Images">
                        <SplideSlide>
                            <img src="../assets/images/talent/talent.png" alt="img"
                                class="max-w-[250px] w-full h-[450px] m-auto block rounded-2xl drop-shadow-xl object-cover">                        
                        </SplideSlide>
                        <SplideSlide>
                            <img src="../assets/images/talent/talent.png" alt="img"
                                class="max-w-[250px] w-full h-[450px] m-auto block rounded-2xl drop-shadow-xl object-cover">                        
                        </SplideSlide>
                        <SplideSlide>
                            <img src="../assets/images/talent/talent.png" alt="img"
                                class="max-w-[250px] w-full h-[450px] m-auto block rounded-2xl drop-shadow-xl object-cover">                        
                        </SplideSlide>
                        <SplideSlide>
                            <img src="../assets/images/talent/talent.png" alt="img"
                                class="max-w-[250px] w-full h-[450px] m-auto block rounded-2xl drop-shadow-xl object-cover">                        
                        </SplideSlide>
                        <SplideSlide>
                            <img src="../assets/images/talent/talent.png" alt="img"
                                class="max-w-[250px] w-full h-[450px] m-auto block rounded-2xl drop-shadow-xl object-cover">                        
                        </SplideSlide>
                    </Splide>
    
                </div>
    
                <div class="tab-pane fade" id="pills-sport" role="tabpanel" aria-labelledby="pills-sport-tab" tabindex="0">
    
                    <Splide :options="sport" aria-label="My Favorite Images">
                        <SplideSlide>
                            <img src="../assets/images/talent/talent.png" alt="img"
                                class="max-w-[250px] w-full h-[450px] m-auto block rounded-2xl drop-shadow-xl object-cover">                        
                        </SplideSlide>
                        <SplideSlide>
                            <img src="../assets/images/talent/talent.png" alt="img"
                                class="max-w-[250px] w-full h-[450px] m-auto block rounded-2xl drop-shadow-xl object-cover">                        
                        </SplideSlide>
                        <SplideSlide>
                            <img src="../assets/images/talent/talent.png" alt="img"
                                class="max-w-[250px] w-full h-[450px] m-auto block rounded-2xl drop-shadow-xl object-cover">                        
                        </SplideSlide>
                        <SplideSlide>
                            <img src="../assets/images/talent/talent.png" alt="img"
                                class="max-w-[250px] w-full h-[450px] m-auto block rounded-2xl drop-shadow-xl object-cover">                        
                        </SplideSlide>
                        <SplideSlide>
                            <img src="../assets/images/talent/talent.png" alt="img"
                                class="max-w-[250px] w-full h-[450px] m-auto block rounded-2xl drop-shadow-xl object-cover">                        
                        </SplideSlide>
                    </Splide>
    
                </div>
    
                <div class="tab-pane fade" id="pills-gaming" role="tabpanel" aria-labelledby="pills-gaming-tab"
                    tabindex="0">
    
                    <Splide :options="gaming" aria-label="My Favorite Images">
                        <SplideSlide>
                            <img src="../assets/images/talent/talent.png" alt="img"
                                class="max-w-[250px] w-full h-[450px] m-auto block rounded-2xl drop-shadow-xl object-cover">                        
                        </SplideSlide>
                        <SplideSlide>
                            <img src="../assets/images/talent/talent.png" alt="img"
                                class="max-w-[250px] w-full h-[450px] m-auto block rounded-2xl drop-shadow-xl object-cover">                        
                        </SplideSlide>
                        <SplideSlide>
                            <img src="../assets/images/talent/talent.png" alt="img"
                                class="max-w-[250px] w-full h-[450px] m-auto block rounded-2xl drop-shadow-xl object-cover">                        
                        </SplideSlide>
                        <SplideSlide>
                            <img src="../assets/images/talent/talent.png" alt="img"
                                class="max-w-[250px] w-full h-[450px] m-auto block rounded-2xl drop-shadow-xl object-cover">                        
                        </SplideSlide>
                        <SplideSlide>
                            <img src="../assets/images/talent/talent.png" alt="img"
                                class="max-w-[250px] w-full h-[450px] m-auto block rounded-2xl drop-shadow-xl object-cover">                        
                        </SplideSlide>
                    </Splide>
    
                </div>
    
                <div class="tab-pane fade" id="pills-fashion" role="tabpanel" aria-labelledby="pills-fashion-tab"
                    tabindex="0">
    
                    <Splide :options="fashion" aria-label="My Favorite Images">
                        <SplideSlide>
                            <img src="../assets/images/talent/talent.png" alt="img"
                                class="max-w-[250px] w-full h-[450px] m-auto block rounded-2xl drop-shadow-xl object-cover">                        
                        </SplideSlide>
                        <SplideSlide>
                            <img src="../assets/images/talent/talent.png" alt="img"
                                class="max-w-[250px] w-full h-[450px] m-auto block rounded-2xl drop-shadow-xl object-cover">                        
                        </SplideSlide>
                        <SplideSlide>
                            <img src="../assets/images/talent/talent.png" alt="img"
                                class="max-w-[250px] w-full h-[450px] m-auto block rounded-2xl drop-shadow-xl object-cover">                        
                        </SplideSlide>
                        <SplideSlide>
                            <img src="../assets/images/talent/talent.png" alt="img"
                                class="max-w-[250px] w-full h-[450px] m-auto block rounded-2xl drop-shadow-xl object-cover">                        
                        </SplideSlide>
                        <SplideSlide>
                            <img src="../assets/images/talent/talent.png" alt="img"
                                class="max-w-[250px] w-full h-[450px] m-auto block rounded-2xl drop-shadow-xl object-cover">                        
                        </SplideSlide>
                    </Splide>
    
                </div>
    
                <div class="tab-pane fade" id="pills-youtuber" role="tabpanel" aria-labelledby="pills-youtuber-tab"
                    tabindex="0">
    
                    <Splide :options="youtuber" aria-label="My Favorite Images">
                        <SplideSlide>
                            <img src="../assets/images/talent/talent.png" alt="img"
                                class="max-w-[250px] w-full h-[450px] m-auto block rounded-2xl drop-shadow-xl object-cover">                        
                        </SplideSlide>
                        <SplideSlide>
                            <img src="../assets/images/talent/talent.png" alt="img"
                                class="max-w-[250px] w-full h-[450px] m-auto block rounded-2xl drop-shadow-xl object-cover">                        
                        </SplideSlide>
                        <SplideSlide>
                            <img src="../assets/images/talent/talent.png" alt="img"
                                class="max-w-[250px] w-full h-[450px] m-auto block rounded-2xl drop-shadow-xl object-cover">                        
                        </SplideSlide>
                        <SplideSlide>
                            <img src="../assets/images/talent/talent.png" alt="img"
                                class="max-w-[250px] w-full h-[450px] m-auto block rounded-2xl drop-shadow-xl object-cover">                        
                        </SplideSlide>
                        <SplideSlide>
                            <img src="../assets/images/talent/talent.png" alt="img"
                                class="max-w-[250px] w-full h-[450px] m-auto block rounded-2xl drop-shadow-xl object-cover">                        
                        </SplideSlide>
                    </Splide>
    
                </div>

                <div class="tab-pane fade" id="pills-tiktok" role="tabpanel" aria-labelledby="pills-tiktok-tab"
                    tabindex="0">
    
                    <Splide :options="tiktok" aria-label="My Favorite Images">
                        <SplideSlide>
                            <img src="../assets/images/talent/talent.png" alt="img"
                                class="max-w-[250px] w-full h-[450px] m-auto block rounded-2xl drop-shadow-xl object-cover">                        
                        </SplideSlide>
                        <SplideSlide>
                            <img src="../assets/images/talent/talent.png" alt="img"
                                class="max-w-[250px] w-full h-[450px] m-auto block rounded-2xl drop-shadow-xl object-cover">                        
                        </SplideSlide>
                        <SplideSlide>
                            <img src="../assets/images/talent/talent.png" alt="img"
                                class="max-w-[250px] w-full h-[450px] m-auto block rounded-2xl drop-shadow-xl object-cover">                        
                        </SplideSlide>
                        <SplideSlide>
                            <img src="../assets/images/talent/talent.png" alt="img"
                                class="max-w-[250px] w-full h-[450px] m-auto block rounded-2xl drop-shadow-xl object-cover">                        
                        </SplideSlide>
                        <SplideSlide>
                            <img src="../assets/images/talent/talent.png" alt="img"
                                class="max-w-[250px] w-full h-[450px] m-auto block rounded-2xl drop-shadow-xl object-cover">                        
                        </SplideSlide>
                    </Splide>
    
                </div>
    
            </div>
        </div>
    </div>
    </template>

<script>
    import '@splidejs/vue-splide/css';
    import {
        Splide,
        SplideSlide
    } from '@splidejs/vue-splide';
    import {
        defineComponent
    } from 'vue';

    export default defineComponent({
        components: {
            Splide,
            SplideSlide,
        },

        setup() {
            const makanan = {
                perPage: 4,
                rewind: true,
                autoplay: true,
                gap: "1rem",
                breakpoints: {
                    991.98: {
                        perPage: 2,
                        gap: "1rem",
                        // destroy: true,
                    },
                    768: {
                        perPage: 1,
                        gap: "1rem",
                        // destroy: true,
                    },
                },
            };

            const teknologi = {
                perPage: 4,
                rewind: true,
                autoplay: true,
                gap: "1rem",
                breakpoints: {
                    991.98: {
                        perPage: 2,
                        gap: "1rem",
                        // destroy: true,
                    },
                    768: {
                        perPage: 1,
                        gap: "1rem",
                        // destroy: true,
                    },
                },
            };

            const hiburan = {
                perPage: 4,
                rewind: true,
                autoplay: true,
                gap: "1rem",
                breakpoints: {
                    991.98: {
                        perPage: 2,
                        gap: "1rem",
                        // destroy: true,
                    },
                    768: {
                        perPage: 1,
                        gap: "1rem",
                        // destroy: true,
                    },
                },
            };

            const travel = {
                perPage: 4,
                rewind: true,
                autoplay: true,
                gap: "1rem",
                breakpoints: {
                    991.98: {
                        perPage: 2,
                        gap: "1rem",
                        // destroy: true,
                    },
                    768: {
                        perPage: 1,
                        gap: "1rem",
                        // destroy: true,
                    },
                },
            };

            const sport = {
                perPage: 4,
                rewind: true,
                autoplay: true,
                gap: "1rem",
                breakpoints: {
                    991.98: {
                        perPage: 2,
                        gap: "1rem",
                        // destroy: true,
                    },
                    768: {
                        perPage: 1,
                        gap: "1rem",
                        // destroy: true,
                    },
                },
            };

            const gaming = {
                perPage: 4,
                rewind: true,
                autoplay: true,
                gap: "1rem",
                breakpoints: {
                    991.98: {
                        perPage: 2,
                        gap: "1rem",
                        // destroy: true,
                    },
                    768: {
                        perPage: 1,
                        gap: "1rem",
                        // destroy: true,
                    },
                },
            };

            const fashion = {
                perPage: 4,
                rewind: true,
                autoplay: true,
                gap: "1rem",
                breakpoints: {
                    991.98: {
                        perPage: 2,
                        gap: "1rem",
                        // destroy: true,
                    },
                    768: {
                        perPage: 1,
                        gap: "1rem",
                        // destroy: true,
                    },
                },
            };

            const youtuber = {
                perPage: 4,
                rewind: true,
                autoplay: true,
                gap: "1rem",
                breakpoints: {
                    991.98: {
                        perPage: 2,
                        gap: "1rem",
                        // destroy: true,
                    },
                    768: {
                        perPage: 1,
                        gap: "1rem",
                        // destroy: true,
                    },
                },
            };

            const tiktok = {
                perPage: 4,
                rewind: true,
                autoplay: true,
                gap: "1rem",
                breakpoints: {
                    991.98: {
                        perPage: 2,
                        gap: "1rem",
                        // destroy: true,
                    },
                    768: {
                        perPage: 1,
                        gap: "1rem",
                        // destroy: true,
                    },
                },
            };

            return {
                makanan,teknologi,hiburan,travel,sport,gaming,fashion,youtuber,tiktok
            };
        },
    });
</script>


<style>
    #talent .splide__pagination {
        bottom: -2em;
        left: 0;
        padding: 0 1em;
        position: absolute;
        right: 0;
        z-index: 1
    }
    
    #talent .splide__pagination__page {
        background: #000;
        border: 0;
        border-radius: 50%;
        display: inline-block;
        height: 8px;
        margin: 3px;
        opacity: .7;
        padding: 0;
        transition: transform .2s linear;
        width: 8px
    }
    
    #talent .splide__pagination__page.is-active {
        background: #43239E;
        transform: scale(1.4)
    }
    
    #talent .splide__arrow--next {
        right: -3em
    }
    
    #talent .splide__arrow--prev {
        left: -3em
    }
    
    @media screen and (max-width:1024px) {
        #talent .splide__arrow--next {
            right: 1em
        }
        #talent .splide__arrow--prev {
            left: 1em
        }
    }
    
    #talent .fade {
        transition: opacity .15s linear
    }
    
    @media (prefers-reduced-motion:reduce) {
        #talent .fade {
            transition: none
        }
    }
    
    #talent .fade:not(.show) {
        opacity: 0
    }
    
    #talent .nav {
        display: flex;
        flex-wrap: wrap;
        padding-left: 0;
        margin-bottom: 0;
        list-style: none
    }
    
    #talent .nav-link {
        display: block;
        padding: .5rem 1rem;
        color: #43239E;
        text-decoration: none;
        transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out
    }
    
    @media (prefers-reduced-motion:reduce) {
        #talent .nav-link {
            transition: none
        }
    }
    
    #talent .nav-link:focus,
    #talent .nav-link:hover {
        color: #43239E
    }
    
    #talent .nav-pills .nav-link {
        background: 0 0;
        border: 0;
        border-radius: 1rem
    }
    
    #talent .nav-pills .nav-link.active {
        color: #fff;
        background-color: #43239E
    }
    
    #talent .tab-content>.tab-pane {
        display: none
    }
    
    #talent .tab-content>.active {
        display: block
    }
</style>