<template>
    <div id="tentang" class="font-Montserrat py-16 px-4">
    <div class="lg:max-w-[970px] lg:w-full lg:m-auto" id="fade-up-card" data-hs="fade up">
        <div class="flex flex-wrap">

            <div class="sm:w-6/12">
                <h4 class="text-[#A8A8A8] font-bold text-2xl">Tentang</h4>
                <h2 class="text-[#43239E] font-bold text-3xl mb-3">Apa itu KOL?</h2>
                    <div class="lg:pr-20 mb-5">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                            has
                            been the industry's standard dummy text ever since the 1500s.</p>
                    </div>
                    <div class="flex items-center gap-3 mb-5">
                        <img src="../assets/images/tentang/icon-1.svg" alt="img" class="float-left w-[62px] h-[62px]">
                        <p><b>Meningkatkan brand awareness</b></p>
                    </div>

                    <div class="flex items-center gap-3 mb-5">
                        <img src="../assets/images/tentang/icon-2.svg" alt="img" class="float-left w-[62px] h-[62px]">
                        <p><b>Kepercayaan konsumen meningkat</b></p>
                    </div>

                    <div class="flex items-center gap-3 mb-5">
                        <img src="../assets/images/tentang/icon-3.svg" alt="img" class="float-left w-[62px] h-[62px]">
                        <p><b>Meningkatkan penjualan</b></p>
                    </div>
            </div>

            <div class="sm:w-6/12">
                <img src="../assets/images/tentang/tentang.png" alt="img"
                    class="max-w-[450px] w-full h-auto m-auto block rounded-2xl drop-shadow-xl object-cover">
            </div>

        </div>
    </div>
</div>
</template>