<script setup>
import Navbar from './components/Navbar.vue';
import Header from './components/Header.vue';
import Tentang from './components/Tentang.vue';
import Talent from './components/Talent.vue';
import Event from './components/Event.vue';



</script>

<template>
    <Navbar/>
    <Header/>
    <Tentang/>
    <Talent/>
    <Event/>
</template>
